<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" #empForm="ngForm">
    <div class="form-group">
      <label for="dni">Dni</label>
      <input type="text" class="form-control" id="dni" required [(ngModel)]="empleado.dni" name="dni" required maxlength="9" readonly #dni="ngModel">
    </div>

    <!-- Validacion dni -->
    <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
        <div *ngIf="dni.errors.required">Dni es obligatorio</div>
        <div *ngIf="dni.errors.maxlength">El dni debe tener 9 caracteres como maximo</div>
        <div *ngIf="dni.errors.pattern">El dni debe ser un dni valido</div>
    </div>
   

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre"  [(ngModel)]="empleado.nombre" name="nombre" #nombre="ngModel">
    </div>

    <div *ngIf="nombre.valid">
        <div class="alert alert-success">Nombre valido</div>
    </div>

    <div class="form-group">
      <label for="sexo">Sexo</label>
      <input type="text" class="form-control" id="sexo"  [(ngModel)]="empleado.sexo" name="sexo" required maxlength="1" pattern="[MF]{1}" #sexo="ngModel">
    </div>

     <!-- Comprobacion de sexo -->

      <div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)" class="alert alert-danger"> 
        <div *ngIf="sexo.errors.required">Sexo Requerido</div>
        <div *ngIf="sexo.errors.pattern">El sexo solo puede ser M / F</div>
      </div>
      <div *ngIf="sexo.valid">
          <div class="alert alert-success">Sexo valido</div>
      </div>

    <div class="form-group">
      <label for="categoria">Categoria</label>
      <input type="number" class="form-control" id="categoria" required [(ngModel)]="empleado.categoria" name="categoria" min="1" max="10" pattern="^(?:[1-9]|0[1-9]|10)$" #categoria="ngModel"> 
    </div>

    <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="alert alert-danger"> 
        <div *ngIf="categoria.errors.required">Categoria Requerida</div>
        <div *ngIf="categoria.errors.pattern">La categoria solo puede ser un numero entre 1 - 10</div>
    </div>
    <div *ngIf="categoria.valid">
        <div class="alert alert-success">Categoria valida</div>
    </div>

    <div class="form-group">
      <label for="anyos">Años</label>
      <input type="number" class="form-control" id="anyos" required [(ngModel)]="empleado.anyos" min="1" pattern="[0-9]{0,2}" name="anyos" #anyos="ngModel">
    </div>
    <div *ngIf="anyos.invalid && (anyos.dirty || anyos.touched)" class="alert alert-danger"> 
        <div *ngIf="anyos.errors.required">Años Requeridos</div>
        <div *ngIf="anyos.errors.pattern">Los años solo pueden ser numeros positivos</div>
    </div>
    <div *ngIf="anyos.valid">
        <div class="alert alert-success">Años valido</div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!empForm.form.valid">Submit</button>
  </form>
</div>