<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="dni">Dni</label>
          <input type="text" [(ngModel)]="empleado.dni" class="form-control" id="dni" name="dni" placeholder="Introduce tu dni" required >
        </div>
        
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" [(ngModel)]="empleado.nombre"  class="form-control" id="nombre" name="nombre" placeholder="Introduce tu nombre" required >
        </div>
        <div class="form-group">
            <label for="sexo">Sexo</label>
            <input type="text" [(ngModel)]="empleado.sexo"  class="form-control" id="sexo" name="sexo" placeholder="Introduce tu sexo" required >
        </div>
        <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="number" [(ngModel)]="empleado.categoria"  class="form-control" id="categoria" name="categoria" placeholder="Introduce tu categoria" required >
        </div>
        <div class="form-group">
            <label for="anyos">Años</label>
            <input type="number" [(ngModel)]="empleado.anyos"  class="form-control" id="anyos" name="anyos" placeholder="Introduce tu anyos" required >
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>